@import url("https://fonts.googleapis.com/css2?family=Castoro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap");

.box {
  display: grid;
  grid-template-columns: 6fr 6fr;
  margin: 0%;
  margin-left: -15px;
  grid-gap: 0ch;
}

.text {
  padding: 3em;
  place-self: center;
  text-align: center;
  width: 50vw;
}

.image {
  width: 50vw;
  height: 100vh;
  margin-left: 0px;
}

.text > a {
  color: black;
  text-transform: uppercase;
  font-family: "Inter", sans-serif;
}

.text > a:hover {
  text-decoration: none;
  padding: 2px;
  border-bottom: 2px black solid;
}

.text > h2 {
  font-family: "Castoro", serif;
}

.text > p {
  font-family: "Inter", sans-serif;
}
