#navbar {
  background-color: transparent;
  position: fixed;
  margin-left: 50vw;
}

#navbar > div > a {
  margin: 2rem;
  color: black;
}

#navbar > div > a:hover {
  color: purple;
  text-decoration: none;
  border-bottom: solid 2px purple;
  padding-bottom: 2px;
}

body {
  width: 100vw;
}
