.box {
  display: grid;
  grid-template-columns: 3fr 3fr 3fr;
  margin-top: 5rem;
}

.card {
  margin: 2rem;
}

.card-body > a {
  display: grid;
  place-self: center;
}

.date {
  font-weight: 100;
}

.tags {
  font-weight: 100;
  font-size: small;
}
