<div *ngIf="loaded" class="container box">
  <div *ngFor="let blog of blogs">
    <div class="card">
      <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
        <img
          [src]="blog.fields.featuredImage.fields.file.url"
          class="img-fluid"
        />
        <a href="#!">
          <div
            class="mask"
            style="background-color: rgba(251, 251, 251, 0.15)"
          ></div>
        </a>
      </div>
      <div class="card-body">
        <p class="date">{{ blog.sys.createdAt | date }}</p>
        <div *ngFor="let tag of tags">
          <p class="tags">{{ tag.name }}</p>
        </div>
        <h5 class="card-title">{{ blog.fields.title }}</h5>
        <p class="card-text">
          {{ blog.fields.description }}
        </p>
        <a
          [routerLink]="['/post-view', blog.sys.id]"
          class="btn btn-primary"
          style="background-color: purple"
          >Read More</a
        >
      </div>
    </div>
  </div>
</div>
