<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
/>
<footer id="dk-footer" class="dk-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-lg-4 mb-5">
        <div class="dk-footer-box-info">
          <a href="index.html" class="footer-logo">
            <img
              src="https://cdn.pixabay.com/photo/2016/11/07/13/04/yoga-1805784_960_720.png"
              alt="footer_logo"
              class="img-fluid"
            />
          </a>
          <p class="footer-info-text">
            This blog is a JAM Stack blog made by using angular for frontend and
            contentful for backend for more info checkout the Github Repository.
          </p>
          <div class="footer-social-link">
            <h3>Follow Me</h3>
            <ul>
              <li>
                <a href="https://www.facebook.com/itsoveiny/">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              <li>
                <a href="https://github.com/obeymyshinnyrod">
                  <i class="fa fa-github"></i>
                </a>
              </li>
              <li>
                <a href="https://www.linkedin.com/in/md-miswah-b360571a0/">
                  <i class="fa fa-linkedin"></i>
                </a>
              </li>
              <li>
                <a href="https://www.reddit.com/user/obeymyshinnyrod">
                  <i class="fa fa-reddit"></i>
                </a>
              </li>
            </ul>
          </div>
          <!-- End Social link -->
        </div>
        <!-- End Footer info -->
        <div class="footer-awarad">
          <img src="images/icon/best.png" alt="" />
          <p>Best Design Company 2019</p>
        </div>
      </div>
      <!-- End Col -->

      <div class="col-md-4 col-lg-5">
        <div class="footer-widget footer-left-widget">
          <div class="section-heading">
            <h3>Useful Links</h3>
            <span class="animate-border border-black"></span>
          </div>
          <ul>
            <li>
              <a href="https://github.com/obeymyshinnyrod">About Me</a>
            </li>
            <li>
              <a href="#">Contacts</a>
            </li>
            <li>
              <a href="https://github.com/obeymyshinnyrod?tab=repositories"
                >Other Projects</a
              >
            </li>
            <li>
              <a href="https://github.com/obeymyshinnyrod/import-blog"
                >Github Repository</a
              >
            </li>
          </ul>
        </div>
        <!-- End Footer Widget -->
      </div>
      <!-- End col -->

      <!-- End Col -->
    </div>
    <!-- End Row -->
  </div>
  <!-- End Col -->

  <!-- End Widget Row -->

  <!-- End Contact Container -->

  <div class="copyright">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <span
            >Handcrafted by Miswah with Contentful and
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-heart-fill"
              viewBox="0 0 16 16"
            >
              <path
                fill-rule="evenodd"
                d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"
              />
            </svg>
          </span>
        </div>
        <!-- End Col -->
        <div class="col-md-6">
          <div class="copyright-menu">
            <!-- Right bottom just in case if i wann out something there -->
            <p style="color: grey">
              This project is under MIT Licence for more info check out
              <a href="https://github.com/obeymyshinnyrod/import-blog"
                >Github Repository</a
              >
            </p>
          </div>
        </div>
        <!-- End col -->
      </div>
      <!-- End Row -->
    </div>
    <!-- End Copyright Container -->
  </div>
  <!-- End Copyright -->
</footer>
