.container {
  display: grid;
  grid-template-columns: auto, 1fr;
}

.body {
  grid-column: 1/2;
  align-self: center;
}

.title {
  grid-column: 1/2;
  justify-self: center;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
}
